<?xml version="1.0"?>
<!--
/**
 * @category Magebit
 * @package Magebit_Faq
 * @author Magebit Team
 * @copyright Copyright (c) 2024 Magebit (https://magebit.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magebit_Faq::question" 
             title="Frequently Asked Questions" 
             module="Magebit_Faq" 
             sortOrder="50" 
             action="faq/question" 
             resource="Magebit_Faq::question" 
             parent="Magento_Backend::content_elements"/>
    </menu>
</config>
